In [1]:
# Import important library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

### Q1 Read the input file and check the data dimension

In [2]:
#Read input file and understand the data
# "default" is my dependent variable

In [3]:
credit_df = pd.read_csv("german_credit.csv")
credit_df.head(5)

,default,account_check_status,duration_in_month,credit_history,purpose,credit_amount,savings,present_emp_since,installment_as_income_perc,personal_status_sex,...,present_res_since,property,age,other_installment_plans,housing,credits_this_bank,job,people_under_maintenance,telephone,foreign_worker
0,0,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,< 0 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,< 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

In [4]:
credit_df.shape

(1000, 21)

In [5]:
# Lets build a Ensemble model but need to modify the dataset first

### Q2.Prepare the model data by converting non-numeric to dummy ( 1 Marks)
##### Hint: Use get_dummies

In [6]:
credit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
default                       1000 non-null int64
account_check_status          1000 non-null object
duration_in_month             1000 non-null int64
credit_history                1000 non-null object
purpose                       1000 non-null object
credit_amount                 1000 non-null int64
savings                       1000 non-null object
present_emp_since             1000 non-null object
installment_as_income_perc    1000 non-null int64
personal_status_sex           1000 non-null object
other_debtors                 1000 non-null object
present_res_since             1000 non-null int64
property                      1000 non-null object
age                           1000 non-null int64
other_installment_plans       1000 non-null object
housing                       1000 non-null object
credits_this_bank             1000 non-null int64
job                           1000 non-null object
people_under_maintenance      1000 non-null int64
telephone                     1000 non-null object
foreign_worker                1000 non-null object
dtypes: int64(8), object(13)
memory usage: 164.1+ KB

In [7]:
# Print Shape of model data

In [8]:
categorical_columns = []
for column in list(credit_df.columns):
    if credit_df[column].dtype == 'O':
        categorical_columns.append(column)

In [9]:
credit_df_dummies = pd.get_dummies(credit_df[categorical_columns])
credit_df_dummies.head()

,account_check_status_0 <= ... < 200 DM,account_check_status_< 0 DM,account_check_status_>= 200 DM / salary assignments for at least 1 year,account_check_status_no checking account,credit_history_all credits at this bank paid back duly,credit_history_critical account/ other credits existing (not at this bank),credit_history_delay in paying off in the past,credit_history_existing credits paid back duly till now,credit_history_no credits taken/ all credits paid back duly,purpose_(vacation - does not exist?),...,housing_own,housing_rent,job_management/ self-employed/ highly qualified employee/ officer,job_skilled employee / official,job_unemployed/ unskilled - non-resident,job_unskilled - resident,telephone_none,"telephone_yes, registered under the customers name",foreign_worker_no,foreign_worker_yes
0,0,1,0,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,1,0,1
1,1,0,0,0,0,0,0,1,0,0,...,1,0,0,1,0,0,1,0,0,1
2,0,0,0,1,0,1,0,0,0,1,...,1,0,0,0,0,1,1,0,0,1
3,0,1,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,1
4,0,1,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,1

### Check for highly correlated variables but don't required any treatment for this use case

In [10]:
credit_df.corr().loc['default']

default                       1.000000
duration_in_month             0.214927
credit_amount                 0.154739
installment_as_income_perc    0.072404
present_res_since             0.002967
age                          -0.091127
credits_this_bank            -0.045732
people_under_maintenance     -0.003015
Name: default, dtype: float64

### Drop the original variables which are converted to dummy

In [11]:
credit_df = credit_df.select_dtypes([np.number])
credit_df.head()
credit_df = pd.concat([credit_df, credit_df_dummies], axis=1)
credit_df.head()

,default,duration_in_month,credit_amount,installment_as_income_perc,present_res_since,age,credits_this_bank,people_under_maintenance,account_check_status_0 <= ... < 200 DM,account_check_status_< 0 DM,...,housing_own,housing_rent,job_management/ self-employed/ highly qualified employee/ officer,job_skilled employee / official,job_unemployed/ unskilled - non-resident,job_unskilled - resident,telephone_none,"telephone_yes, registered under the customers name",foreign_worker_no,foreign_worker_yes
0,0,6,1169,4,4,67,2,1,0,1,...,1,0,0,1,0,0,0,1,0,1
1,1,48,5951,2,2,22,1,1,1,0,...,1,0,0,1,0,0,1,0,0,1
2,0,12,2096,2,3,49,1,2,0,0,...,1,0,0,0,0,1,1,0,0,1
3,0,42,7882,2,4,45,1,2,0,1,...,0,0,0,1,0,0,1,0,0,1
4,1,24,4870,3,4,53,2,2,0,1,...,0,0,0,1,0,0,1,0,0,1

### Q3 Split Train/Test data 70:30 ratio( 1 Marks)
##### Hint:from sklearn.model_selection import train_test_split

In [12]:
from sklearn.model_selection import train_test_split

X =  credit_df.drop("default", axis=1)
y =  credit_df.pop("default")

train_set, test_set, train_labels, test_labels = train_test_split(X, y, test_size=0.30, random_state=1)

### Q4 Build Random Forest Model( 1 Marks)
#### Hint:from sklearn.ensemble import RandomForestClassifier using n_jobs=2,n_estimators=500,criterion="entropy",random_state=9999

In [13]:
from sklearn.ensemble import RandomForestClassifier
rfcl = RandomForestClassifier(n_jobs=2,n_estimators=500,criterion="entropy",random_state=9999)
rfcl = rfcl.fit(train_set, train_labels)
test_pred = rfcl.predict(test_set)
rfcl.score(test_set , test_labels)

0.7433333333333333

### Q5 Calculate Confusion Matrix and Accuracy score (1 Marks)
##### Hint: Use confusion_matrix and accuracy_score

In [14]:
from sklearn import metrics
print(metrics.confusion_matrix(test_labels, test_pred))
rfcl.score(test_set , test_labels)

[[197  17]
 [ 60  26]]

0.7433333333333333

### Q6 Show the list of the features importance( 1 Marks)

In [15]:
print(pd.DataFrame(rfcl.feature_importances_, columns=["Importance"], index = test_set.columns))

                                                    Importance
duration_in_month                                     0.072037
credit_amount                                         0.100113
installment_as_income_perc                            0.036985
present_res_since                                     0.033360
age                                                   0.078122
credits_this_bank                                     0.018879
people_under_maintenance                              0.011346
account_check_status_0 <= ... < 200 DM                0.016711
account_check_status_< 0 DM                           0.030929
account_check_status_>= 200 DM / salary assignm...    0.007338
account_check_status_no checking account              0.044759
credit_history_all credits at this bank paid ba...    0.007700
credit_history_critical account/ other credits ...    0.029383
credit_history_delay in paying off in the past        0.009892
credit_history_existing credits paid back duly ...    0.014635
credit_history_no credits taken/ all credits pa...    0.012531
purpose_(vacation - does not exist?)                  0.005654
purpose_business                                      0.011489
purpose_car (new)                                     0.018056
purpose_car (used)                                    0.011891
purpose_domestic appliances                           0.015441
purpose_education                                     0.004441
purpose_furniture/equipment                           0.001519
purpose_radio/television                              0.012629
purpose_repairs                                       0.002495
purpose_retraining                                    0.000955
savings_.. >= 1000 DM                                 0.008544
savings_... < 100 DM                                  0.020143
savings_100 <= ... < 500 DM                           0.009149
savings_500 <= ... < 1000 DM                          0.005857
...                                                        ...
present_emp_since_.. >= 7 years                       0.014017
present_emp_since_... < 1 year                        0.014066
present_emp_since_1 <= ... < 4 years                  0.015098
present_emp_since_4 <= ... < 7 years                  0.012366
present_emp_since_unemployed                          0.007540
personal_status_sex_female : divorced/separated...    0.015650
personal_status_sex_male : divorced/separated         0.006503
personal_status_sex_male : married/widowed            0.007167
personal_status_sex_male : single                     0.015988
other_debtors_co-applicant                            0.007925
other_debtors_guarantor                               0.008740
other_debtors_none                                    0.010672
property_if not A121 : building society savings...    0.012690
property_if not A121/A122 : car or other, not i...    0.014129
property_real estate                                  0.014919
property_unknown / no property                        0.010144
other_installment_plans_bank                          0.014283
other_installment_plans_none                          0.017442
other_installment_plans_stores                        0.007692
housing_for free                                      0.007036
housing_own                                           0.014590
housing_rent                                          0.010453
job_management/ self-employed/ highly qualified...    0.011542
job_skilled employee / official                       0.015101
job_unemployed/ unskilled - non-resident              0.001978
job_unskilled - resident                              0.011124
telephone_none                                        0.014250
telephone_yes, registered under the customers n...    0.014399
foreign_worker_no                                     0.002750
foreign_worker_yes                                    0.003056

[61 rows x 1 columns]

### Q7 K-fold cross-validation( 2 Marks)
##### k-fold cross validation( without stratification)
##### Usually k is set as 10-20 in practical settings, depends on data set size

In [16]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [17]:
# Use below values
num_folds = 10
seed = 77

In [18]:
#Validate the Random Forest model build above using k fold

In [19]:
kfold = KFold(n_splits=num_folds, random_state=seed)
results = cross_val_score(rfcl, X, y, cv=kfold)
print(results)

[0.86 0.71 0.76 0.79 0.8  0.67 0.74 0.8  0.76 0.76]

In [20]:
#Calculate Mean score

In [21]:
print("The mean score: " + str(results.mean()))

The mean score: 0.765

In [22]:
# Calculate score standard deviation using std()

In [23]:
print("The Standard deviation is: " + str(results.std()))

The Standard deviation is: 0.049849774322458074

# Q8 Print the confusion matrix( 1 Marks)

In [24]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score, cross_val_predict
y_predict_RF = cross_val_predict(rfcl, X, y, cv=kfold)
print("The confusion matrix of Random Forest from the K-fold cross validation:")
print(metrics.confusion_matrix(y, y_predict_RF))

The confusion matrix of Random Forest from the K-fold cross validation:
[[649  51]
 [184 116]]

# Q9.Classification accuracy: 
percentage of correct predictions and Calculate sensitivity (or True Positive Rate or Recall) and Precision.
(2 Marks)

In [25]:
print("The classification accuracy report for Random Forest after K-fold Cross Validation:")
print(metrics.classification_report(y, y_predict_RF))

The classification accuracy report for Random Forest after K-fold Cross Validation:
              precision    recall  f1-score   support

           0       0.78      0.93      0.85       700
           1       0.69      0.39      0.50       300

    accuracy                           0.77      1000
   macro avg       0.74      0.66      0.67      1000
weighted avg       0.75      0.77      0.74      1000

[link text](https://)### Bootstrapping ( Bonus and Optional)
##### Given a dataset of size n, a bootstrap sample is created by sampling n instances uniformly from the data (with/without replacement)
##### Create a model with each bootstrap sample and validate it with the test set
##### Final result is calculated by averaging the accuracy of models

In [26]:
# Number of iterations for bootstrapping
bootstrap_iteration = 10
accuracy = []

In [27]:
from sklearn.utils import resample
from sklearn.metrics import accuracy_score

for i in range(bootstrap_iteration):
    X_, y_ = resample(X_train, y_train)
    rfm.fit(X_, y_)
    y_pred = rfm.predict(X_test)
    
    acc = accuracy_score(y_pred, y_test)
    accuracy.append(acc)

NameError: name 'X_train' is not defined

In [ ]:
accuracy = np.array(accuracy)
print('Accuracy Score')
print('Avearge: ', accuracy.mean())
print('Standard deviation: ', accuracy.std())